<style type="text/css">
table{
cursor:pointer;
}
.tg  {border-collapse:collapse;border-spacing:0;}
.tg td,input{font-family:Arial, sans-serif;font-size:14px;padding:15px 13px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;}
.tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:15px 13px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;}
.tg .tg-541x{font-weight:bold;font-size:28px;background-color:#32cb00;color:#fe0000;text-align:center;vertical-align:top}
.tg .tg-mtwr{background-color:#bbdaff;vertical-align:top}
.tg .tg-ip5l{font-weight:bold;font-size:26px;background-color:#bbdaff;text-align:center;vertical-align:top}
.tg .tg-t1hc{font-weight:bold;font-size:20px;background-color:#fffe65;text-align:center;vertical-align:top}
.tg .tg-k20p{font-weight:bold;font-size:18px;background-color:#bbdaff;color:#fe0000;text-align:center;vertical-align:top}
</style>
<table class="tg">
  <tr>
    <th class="tg-541x" colspan="6">Chế Vàng</th>
  </tr>
  <tr>
    <td class="tg-mtwr" colspan="4">Nhập Vàng <br/><input onchange="" id="ipt_vangy" value="0" /><input type="button" onclick="xuatthongtin()" value="Tính"/></td>
    <td class="tg-mtwr" colspan="2">Nhập tuổi <br/> <input id="ipt_tuoi" value="100"/></td>
  </tr>
  <tr>
    <td class="tg-ip5l" colspan="6">Vàng 610 - 7 tuổi Hội 63/32/5</td>
  </tr>
  <tr>
    <td class="tg-t1hc">Vàng Y</td>
    <td class="tg-t1hc">Tổng cân</td>
    <td class="tg-t1hc">Giẻ</td>
    <td class="tg-t1hc">Đồng 63%</td>
    <td class="tg-t1hc">Bạc 32%</td>
    <td class="tg-t1hc">Thau 5%</td>
  </tr>
  <tr>
    <td class="tg-k20p"><span id="t610_vangy"/><span></td>
    <td class="tg-k20p"><span id="t610_tongcan"/><span></td>
    <td class="tg-k20p"><span id="t610_gie"/><span></td>
    <td class="tg-k20p"><span id="t610_dong"/><span></td>
    <td class="tg-k20p"><span id="t610_bac"/><span></td>
    <td class="tg-k20p"><span id="t610_thau"/><span></td>
  </tr>
   <tr>
    <td class="" colspan="6">Tổng kết : <span id="t610_tongket"/><span></td>
  </tr>
  <tr>
    <td class="tg-ip5l" colspan="6">Vàng 710 - 7.5 tuổi Hội 65/30/5</td>
  </tr>
  <tr>
    <td class="tg-t1hc">Vàng Y</td>
    <td class="tg-t1hc">Tổng cân</td>
    <td class="tg-t1hc">Giẻ</td>
    <td class="tg-t1hc">Đồng 65%</td>
    <td class="tg-t1hc">Bạc 32%</td>
    <td class="tg-t1hc">Thau 5%</td>
  </tr>
  <tr>
    <td class="tg-k20p"><span id="t710_vangy"/><span></td>
    <td class="tg-k20p"><span id="t710_tongcan"/><span></td>
    <td class="tg-k20p"><span id="t710_gie"/><span></td>
    <td class="tg-k20p"><span id="t710_dong"/><span></td>
    <td class="tg-k20p"><span id="t710_bac"/><span></td>
    <td class="tg-k20p"><span id="t710_thau"/><span></td>
  </tr>
   <tr>
    <td class="" colspan="6">Tổng kết :<span id="t710_tongket"></span> </td>
  </tr>
</table>
  <script>
  
  //lay trong luong vang y\
  var vangy=document.querySelector("#ipt_vangy");
  //so tuoi
  var tuoi = document.querySelector("#ipt_tuoi");
  //so tuoi 610, mac dinh la 620
  var tuoivang610 = 62;
  var tuoivang620 = 72;
  //tao 1 so bien
  var g_vangy_610,g_tongcan_610,g_dong_610,g_bac_610,g_thau_610,g_tuoi_610,g_tonggie_610;
  var g_vangy_710,g_tongcan_710,g_dong_710,g_bac_710,g_thau_710,g_tuoi_710,g_tonggie_710;
  var bayhoi=5;//so luong bay hoi khi nau
  
  
  //ham nay de xuat thong tin khi tinh toan xong, nhan 2 bien x = 610,
  //tablecanxuat : table can xuat,vy = vang y,tc = tong can,d = dong ,b= bac ,t = thau,bayhoi = % bay hoi
  function xuatthongtin(){
  //tao bien de xuat
  //1. thong tin trong table
  //////////////610
  t_vangy=document.querySelector("#t610_vangy");
  t_tongcan=document.querySelector("#t610_tongcan");
  t_gie=document.querySelector("#t610_gie");
  t_dong=document.querySelector("#t610_dong");
  t_bac=document.querySelector("#t610_bac");
  t_thau=document.querySelector("#t610_thau");
  t_tongket=document.querySelector("#t610_tongket");
  /////////////710
  t_vangy7=document.querySelector("#t710_vangy");
  t_tongcan7=document.querySelector("#t710_tongcan");
  t_gie7=document.querySelector("#t710_gie");
  t_dong7=document.querySelector("#t710_dong");
  t_bac7=document.querySelector("#t710_bac");
  t_thau7=document.querySelector("#t710_thau");
  t_tongket7=document.querySelector("#t710_tongket");
  
  
  //2. get input va tinh toan
  //a. lay iput
  ipt_vy = document.querySelector("#ipt_vangy").value;//lay ra vang y
  ipt_t=document.querySelector("#ipt_tuoi").value;//lay ra tuoi
  //b. tinh 
	// tinh 610.
	g_vangy_610= parseInt(ipt_vy);
	g_tuoi_610 = parseInt(ipt_t);
	g_tongcan_610=Math.round((g_vangy_610*g_tuoi_610/62));
	g_tonggie_610=Math.round((g_tongcan_610-g_vangy_610));
	g_dong_610_temp=Math.round(63*g_tonggie_610/100);
	g_dong_610=Math.round(g_dong_610_temp*bayhoi/100 +g_dong_610_temp);
	g_bac_610=Math.round(32*g_tonggie_610/100);
	g_thau_610_temp=Math.round(5*g_tonggie_610/100);
	g_thau_610=Math.round(g_thau_610_temp*bayhoi/100 + g_thau_610_temp);
	
	//xuat 610 ra man hinh
	
	t_vangy.innerHTML=g_vangy_610;
	t_tongcan.innerHTML=g_tongcan_610;
	t_gie.innerHTML=g_tonggie_610;
	t_dong.innerHTML=g_dong_610;
	t_bac.innerHTML=g_bac_610;
	t_thau.innerHTML=g_thau_610;
	t_tongket.innerHTML="Từ "+g_vangy_610+" vàng y chế được "+g_tongcan_610+", trong đó Đồng : "+g_dong_610+", Bạc : "+g_bac_610+", Thau : "+g_thau_610+".";
	//Tong ket : tu 1000 vang y ra duoc 1610 vang 610, trong do bac : dong 310, bac 290, thau 30 ;
	
	
  //tinh 710
  
  // tinh 710.
	g_vangy_710= parseInt(ipt_vy);
	g_tuoi_710 = parseInt(ipt_t);
	g_tongcan_710=Math.round((g_vangy_710*g_tuoi_710/72));
	g_tonggie_710=Math.round((g_tongcan_710-g_vangy_710));
	g_dong_710_temp=Math.round(65*g_tonggie_710/100);
	g_dong_710=Math.round(g_dong_710_temp*bayhoi/100 +g_dong_710_temp);
	g_bac_710=Math.round(30*g_tonggie_710/100);
	g_thau_710_temp=Math.round(5*g_tonggie_710/100);
	g_thau_710=Math.round(g_thau_710_temp*bayhoi/100 + g_thau_710_temp);
	
	//xuat 710 ra man hinh
	
	t_vangy7.innerHTML=g_vangy_710;
	t_tongcan7.innerHTML=g_tongcan_710;
	t_gie7.innerHTML=g_tonggie_710;
	t_dong7.innerHTML=g_dong_710;
	t_bac7.innerHTML=g_bac_710;
	t_thau7.innerHTML=g_thau_710;
	t_tongket7.innerHTML="Từ "+g_vangy_710+" vàng y chế được "+g_tongcan_710+", trong đó Đồng : "+g_dong_710+", Bạc : "+g_bac_710+", Thau : "+g_thau_710+".";
	//Tong ket : tu 1000 vang y ra duoc 1710 vang 710, trong do bac : dong 310, bac 290, thau 30 ;
	
	
  
  
  
  }
  
  //ham chuyen dinh dang tu so sang luong, chi, phan, li, gem nhan x la tham so 
  function convertNumberToText(x){
  
  str="";
  return str;
  }
  </script>